$color-nav-header : #cddc39;
$color-nav-mobile : #eeff41;
$color-div-prin : #d4e157;
$color-fondo-texto: #f9fbe7;
$color-fondo-footer: #827717;
$color-fondo : #f0f4c3;
$color-p: black;
$color-h1: #ccc;