<div class="register-main">
  <div class="espacio"></div>
  <div class="espacio-register">
    <div class="inicio">
      <a [routerLink]="['/']">Volver al inicio</a>
    </div>
    <div class="form-register">
      <div class="titulo-registro-icons">
        <img src="../../../assets/img/icons/icon-1.svg" class="first-icon" width="75px" alt="">
        <h2 class="titulo-registro">Formulario de registro</h2>
        <img src="../../../assets/img/icons/icon-1.svg" width="75px" alt="">
      </div>
      
      <div class="contenido-registro">
        <form class="form-register-inputs">
          <mat-form-field class="input-email" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput value="">
          </mat-form-field>
          <mat-form-field class="input-user" appearance="fill">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput value="">
          </mat-form-field>
          <mat-form-field class="input-pass" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput value="">
          </mat-form-field>
          <mat-form-field class="input-pass-repeat" appearance="fill">
            <mat-label>Repetir contraseña</mat-label>
            <input matInput value="">
          </mat-form-field>
          <div class="botones-registro">
            <button mat-stroked-button color="primary">Primary</button>
            <button mat-stroked-button color="warn" [routerLink]="['/']">Warn</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
