@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.register-main{
    background-image: url('../../../assets/img/img-register.jpg');
    height: 100vh;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .espacio-register{
        .inicio{
            width: 90%;
            cursor: pointer;
            height: 40px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            border: 2px solid $color-fondo-footer;
            margin-top: 7.5vh;
            a{
                width: 100%;
                text-align: center;
                color: $color-fondo-footer;
                font-size: x-large;
                text-decoration: none;
            }
        }
        .inicio:hover{
            background-color: $color-fondo-footer;
            border-color: white;
            a{
                color: white;
            }
        }
        .form-register{
            background-color: rgba(240, 244,195, 0.5);
            height: 70vh;
            margin-top: 7.5vh;
            width: 90%;
            border-radius: 20px;
            //opacity: 0.5;
            border: 2px solid $color-fondo-footer;
            display: flex;
            flex-direction: column;
            .titulo-registro-icons{
                margin: 15px auto 25px auto;
                display: flex;
                flex-direction: row;
                background-color: white;
                justify-content:space-between;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                width: 90%;
                .titulo-registro{
                    height: 40px;
                    width: auto;
                    text-align: center;
                    line-height:130%;
                    background-color: white;
                    font-family: $third;
                    font-size: 50px;
                    margin: 0;
                }
            }
            .contenido-registro{
                
                width: 90%;
                margin: 0 auto;
                padding-bottom: 1rem;
                background-color: rgba($color: #000000, $alpha: 0.35);
                border: 2px solid rgba(0,0,0,.25);
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
                .form-register-inputs{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 0 auto;
                    text-decoration-color: blue;
                    .input-email{
                        padding-top: 20px;
                    }
                    .botones-registro{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}

// ::ng-deep .mat-focused .mat-form-field-label {
//     /*change color of label*/
//     color: green !important;
//    }
//    ::ng-deep .mat-form-field-label {
//     /*change color of label*/
//     color: green !important;
//    }
//    ::ng-deep.mat-form-field-underline {
//     /*change color of underline*/
//     background-color: green !important;
//   } 
  
//   ::ng-deep.mat-form-field-ripple {
//    /*change color of underline when focused*/
//    background-color: green !important;
//   }