@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.main-clases{
    margin: 0 auto;
    width: 95%;
    height: 100vh;
    background-color: $color-fondo-700;
    .principal-main-clases{
        margin: 0 auto;
        width: 95%;
        height: inherit;
        background-color: $color-fondo;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .lista-clases{
            margin-left: 1rem;
            margin-top: 1rem;
            width: 15%;
            border-radius: 35px;
            position: fixed;
            height: 300px;
            background-color: black;
            ul{
                margin: auto;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    margin-top: 1rem;
                    text-decoration: none;
                    cursor: pointer;
                    list-style:none;
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
        .todas-las-clases{
            margin-left: 20%;
            width: 80%;
            right: 0;
            height: 5000px;
            .abajo{
                margin-top: 1500px;
            }
        }
    }
}
