<div class="main">
    <div class="imagen-main"></div>
    <div class="eslogan-main">
        <p class="text-eslogan">El sitio que necesitas para ti</p>
    </div>

    <div class="contenido-principal">
        <h1>¿Por qué nosotros?</h1>
        <div class="texto-contenido-principal color-fondo-parrafo">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptate ex, nam quia ducimus ipsum commodi in explicabo itaque adipisci minima beatae necessitatibus nostrum dolores numquam, expedita consectetur minus rem!</p>
        </div>
        <div class="imagen-contenido-principal">
            <img src="../../../assets/img/imgprincipal.png" alt="impgprincipal">
        </div>
    </div>

    <article class="contenido-principal">
        <h1>Algunas de las opiniones de nuestros usuarios</h1>
        <div class="articulos">
            <div class="edicion1 edicion-estilo">Voluptatem facilis eius odit vel. Eveniet numquam officia dolorem officiis iste commodi ut vitae possimus! Quae veniam commodi et corrupti corporis nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi non vitae quisquam repellendus hic qui possimus sunt vero enim modi! Consequuntur illum itaque ipsum voluptatibus deleniti cum laboriosam iste aspernatur? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui voluptatem animi illo omnis eius explicabo in tempore ad voluptates deserunt exercitationem provident fugit consequatur perspiciatis, tempora voluptate nam, aperiam ut?</div>
            <div class="edicion2 edicion-estilo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt eos asperiores tempore nesciunt pariatur nemo reiciendis ut dicta consequuntur temporibus, maxime impedit cupiditate autem quisquam totam mollitia, harum illo accusantium.</div>
            <div class="edicion3 edicion-estilo">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam nemo sequi eius voluptas vero dignissimos quam possimus sunt. Quibusdam dolor repudiandae excepturi veritatis soluta natus sit libero vitae ipsum nisi.
            </div>
            <div class="imagen-edicion">
                <img src="../../../assets/img/hombre-opinion.jpg" width="300px" alt="imagen-hombre-opinion">
            </div>
        </div>
    </article>
</div>