<div class="main">
    <div class="imagen-main"></div>
    <div class="eslogan-main">
        <p class="text-eslogan">El sitio que necesitas para ti</p>
    </div>

    <div class="contenido-principal">
        <h1>¿Por qué nosotros?</h1>
        <div class="texto-contenido-principal color-fondo-parrafo">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptate ex, nam quia ducimus ipsum commodi in explicabo itaque adipisci minima beatae necessitatibus nostrum dolores numquam, expedita consectetur minus rem!</p>
        </div>
        <div class="imagen-contenido-principal">
            <img src="../../../assets/img/imgprincipal.png" alt="impgprincipal">
        </div>
    </div>
</div>